/* UNIVERSAL --------------------------------------------------------------- */
:root {
  --black: #111;
  --dgrey: #666;
  --lgrey: #ccc;
  --white: #fafafa;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: var(--black);
  color: var(--lgrey);
  font-family: sans-serif;
  line-height: 1.8em;
  text-align: center;
  margin: 0;
  margin-top: 1vh;
}

ul,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  color: var(--dgrey);
  transition: 0.4s ease;
  text-decoration: none;
}

a:hover {
  transition: 0.7s ease;
  color: var(--lgrey);
}

.activePage {
  color: var(--lgrey);
}

#pageContent {
  width: 70%;
  margin: auto;
}

/* HEADER ------------------------------------------------------------------ */
#logoImage img {
  margin-top: 1vh;
  width: 350px;
  transition: 0.3s ease;
  opacity: 0.8;
  z-index: 2;
}

#logoImage img:hover {
  transition: 0.3s ease;
  opacity: 1;
}

#topNav {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 160px;
  z-index: 1;
  padding-bottom: 40px;
}

#topNav nav a {
  font-size: 14px;
  line-height: 1.5em;
  margin: 0.8em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
}

/* projects PREVIEW -------------------------------------------------------- */
#projects {
  margin: 0 auto;
  display: grid;
  gap: 1.5rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 300px);
}

.project {
  overflow: hidden;
}

.project img {
  object-fit: cover;
  margin: auto;
  width: 100%;
  height: 16rem;
  transition: transform 0.2s ease-in-out;
}

.project img:hover {
  transform: scale(1.15);
}

/* FILTERS ------------------------------------------------------------------ */
#filterButton {
  position: absolute;
  appearance: none;
  left: -100%;
  top: -100%;
}

#filterButton + label {
  cursor: pointer;
  padding: 10px;
  color: var(--dgrey);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.08rem;
}

#filterButton + label:after {
  display: inline-block; /* doesn't animate without this? */
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -ms-transition: -ms-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  content: "⮟";
}

#filterButton:checked + label:after {
  display: inline-block; /* doesn't animate without this? */
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

#slideNav {
  margin-bottom: 10px;
}

.filters {
  text-align: center;
  margin: 0.4rem;
}

.filters * {
  display: inline-block;
}

.filters label {
  color: var(--dgrey);
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 2rem;
  min-width: 50px;
  line-height: normal;
  cursor: pointer;
  transition: 0.3s ease;
}

.filters label:hover {
  transition: 0.5s ease;
  background: var(--lgrey);
  color: var(--black);
}

input[type="radio"] {
  position: absolute;
  left: -9999px;
}

[value="All"]:checked ~ .filters [for="All"],
[value="ReactJS"]:checked ~ .filters [for="ReactJS"],
[value="C++"]:checked ~ .filters [for="C++"],
[value="Python"]:checked ~ .filters [for="Python"] {
  background: var(--lgrey);
  color: var(--black);
}

[value="All"]:checked ~ #projects [data-category] {
  display: block;
}

[value="ReactJS"]:checked ~ #projects .project:not([data-category~="ReactJS"]),
[value="C++"]:checked ~ #projects .project:not([data-category~="C++"]),
[value="Python"]:checked ~ #projects .project:not([data-category~="Python"]) {
  display: none;
}

/* ABOUT ------------------------------------------------------------------- */
#accountsTop li {
  display: inline-block;
  padding: 0 0.8rem 0.8rem 0.8em;
}

.social {
  width: 100px;
  height: 100%;
  margin-left: 16.2px;
}

.social svg {
  transition: 0.3s ease;
  height: 100%;
  fill: var(--lgrey);
  margin: 0 auto;
  display: block;
  border: 4px solid var(--lgrey);
  padding: 10%;
  /* border-radius: 50%; */
}

.github:hover svg {
  transition: 0.3s ease;
  fill: #333;
  border-color: #333;
}

.linkedin:hover svg {
  transition: 0.3s ease;
  fill: #2867B2;
  border-color: #2867B2;
}

.twitter:hover svg {
  transition: 0.3s ease;
  fill: #1DA1F2;
  border-color: #1DA1F2;
}

.instagram:hover svg {
  transition: 0.3s ease;
  fill: #E1306C;
  border-color: #E1306C;
}

.columns {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  text-align: left;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 400px);
}

.columns p {
  margin-bottom: 12px;
}

.columns h2 {
  margin-bottom: 12px;
}

.column img {
  width: 100%;
  min-width: 400px;
}

#gpgkey {
  color: var(--lgrey);
  background-color: var(--black);
  text-align: center;
}

/* DELIBERATE 404 ---------------------------------------------------------- */
.notfound p {
  margin: 0 auto;
  width: 630px;
  text-align: left;
}

/* TABLET ------------------------------------------------------------------ */
@media only screen and (max-device-width: 1024px) {
  #pageContent {
    width: 90%;
    margin: auto;
  }

  .projects {
    grid-template-columns: repeat(auto-fit, 400px);
  }

  .columns {
    grid-template-columns: repeat(auto-fit, 400px);
  }

  .column img {
    min-width: 300px;
  }
}

@media only screen and (max-device-width: 760px) {
  .projects {
    grid-template-columns: repeat(auto-fit, 260px);
  }

  .columns {
    grid-template-columns: repeat(auto-fit, 300px);
  }

  .column img {
    min-width: 300px;
  }

  .notfound img {
    max-width: 300px;
  }

  .notfound p {
    max-width: 300px;
  }
}

/* MOBILE ------------------------------------------------------------------ */
@media only screen and (max-device-width: 480px) {
  #logoImage img {
    width: 300px;
  }

  #topNav {
    margin-top: 130px;
  }

  .projects {
    grid-template-columns: repeat(1, 320px);
  }

  .columns {
    grid-template-columns: repeat(1, 320px);
  }

  .columns p {
    text-overflow: wrap;
    margin-bottom: 12px;
  }

  #accountsTop img {
    width: 50px;
    height: auto;
  }
}


/* TESTING ----------------------------------------------------------------- */

