body {
  background-color: #111;
  color: #bfbfbf;
  font-family: sans-serif;
  line-height: 1.8em;
  text-align: center;
  margin: 0;
  margin-top: 8px;
}

ul,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  color: #666;
  transition: 0.4s ease;
  text-decoration: none;
}

a:hover {
  transition: 0.7s ease;
  color: #ccc;
}

.activePage {
  color: #ccc;
}

#pageContent {
  width: 70%;
  margin: auto;
}

/* Start Everything related to the header */
#logoImage img {
  width: 350px;
  transition: 0.3s ease;
  opacity: 0.8;
  z-index: 2;
}

#logoImage img:hover {
  transition: 0.3s ease;
  opacity: 1;
}

#topNav {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 160px;
  z-index: 1;
}

#topNav nav a {
  font-size: 14px;
  line-height: 1.5em;
  padding: 0.8em;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

#sideNav {
  top: 30%;
  padding: 20px;
  border-radius: 0px 8px 8px 0;
  position: fixed;
  background: #222;
  transition: 0.4s ease;
  opacity: 0.1;
}

#sideNav:hover {
  transition: 0.7s ease;
  opacity: 1;
}

.btn {
  width: 100px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
  border: none;
  transition: 0.4s ease;
  color: #ccc;
  background-color: #111;
}

.btn.active,
.btn:active,
.btn:hover {
  color: #111;
  background-color: #ccc;
  transition: 0.7s ease;
}

/* Start Projects Preview */
.projects {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 400px);
}

.project {
  overflow: hidden;
  max-height: 20rem;
}

.project img {
  object-fit: cover;
  margin: auto;
  width: 100%;
  max-height: 16rem;
  transition: transform 0.2s ease-in-out;
}
.project p {
  padding-top: 10px;
  word-wrap: break-word;
}

.project img:hover {
  transform: scale(1.15);
}

@media (min-width: 1920px) {
  .projects {
    grid-template-columns: repeat(auto-fit, 400px);
  }
}

/* Start About */
#accountsTop p {
  margin: 0;
}

#accountsTop li {
  display: inline-block;
  padding: 0 0.8rem 0.8rem 0.8em;
}

#accountsTop img {
  width: 56px;
  height: auto;
}

.columns {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  text-align: left;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 400px);
}

.columns p {
  margin-bottom: 12px;
}

.columns h2 {
  margin-bottom: 12px;
}

.column img {
  width: 100%;
  min-width: 400px;
}

/* For Tablet */
@media only screen and (max-device-width: 1024px) {
  #pageContent {
    width: 90%;
    margin: auto;
  }
  #sideNav {
    display: none;
  }
  .projects {
    grid-template-columns: repeat(auto-fit, 400px);
  }
  .project p {
    padding-top: 0px;
    word-wrap: break-word;
  }

  .columns {
    grid-template-columns: repeat(auto-fit, 400px);
  }

  .column img {
    min-width: 300px;
  }
}

@media only screen and (max-device-width: 768px) {
  #sideNav {
    display: none;
  }
  .projects {
    grid-template-columns: repeat(auto-fit, 260px);
  }
  .columns {
    grid-template-columns: repeat(auto-fit, 300px);
  }

  .column img {
    min-width: 300px;
  }
}

/* For Mobile */
@media only screen and (max-device-width: 480px) {
  #logoImage img {
    width: 300px;
  }

  #topNav {
    margin-top: 130px;
  }

  #sideNav {
    display: none;
  }

  .projects {
    grid-template-columns: repeat(1, 320px);
  }
  .project p {
    padding-top: 0px;
    word-wrap: break-word;
  }

  .columns {
    grid-template-columns: repeat(1, 320px);
  }

  .columns p {
    text-overflow: wrap;
    margin-bottom: 12px;
  }

  #accountsTop img {
    width: 50px;
    height: auto;
  }
}
