body {
  background-color: #111;
  color: #bfbfbf;
  font-family: sans-serif;
  line-height: 1.8em;
  text-align: center;
}

ul,
h2,
p {
  margin: 0;
  padding: 0;
}

a {
  color: #666;
  transition: 0.4s ease;
  text-decoration: none;
}

a:hover {
  transition: 0.7s ease;
  color: #ccc;
}

.active {
  color: #ccc;
}

#pageContent {
  width: 70%;
  margin: auto;
}

/* Start Everything related to the header */
#navBlock {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 160px;
  z-index: 1;
}

#navBlock nav a {
  font-size: 14px;
  line-height: 1.5em;
  padding: 0.8em;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

#logoImage img {
  width: 350px;
  transition: 0.3s ease;
  opacity: 0.8;
  z-index: 2;
}

#logoImage img:hover {
  transition: 0.3s ease;
  opacity: 1;
}

/* Start Projects Preview */
.projects {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 400px);
}

.project {
  overflow: hidden;
  max-height: 20rem;
}

.project img {
  object-fit: cover;
  margin: auto;
  width: 100%;
  max-height: 16rem;
  transition: transform 0.2s ease-in-out;
}
.project p {
  padding-top: 10px;
  word-wrap: break-word;
}

.project img:hover {
  transform: scale(1.15);
}

@media (min-width: 1920px) {
  .projects {
    grid-template-columns: repeat(3, 400px);
  }
}

/* Start About */
#accountsTop p {
  margin: 0;
}

#accountsTop li {
  display: inline-block;
  padding: 0 0.8rem 0.8rem 0.8em;
}

#accountsTop img {
  width: 56px;
  height: auto;
}

.columns {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  text-align: left;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 400px);
}

.columns p {
  margin-bottom: 12px;
}

.columns h2 {
  margin-bottom: 12px;
}

.column img {
  width: 100%;
  min-width: 400px;
}

/* For debugging/testing */
/* * {
  outline: 1px solid red;
} */
